@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Spinnaker&display=swap');

.aboutus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px 10vw; */
    padding: 2.5vw 0;
    flex-wrap: wrap;
}
.aboutus p{
    font-weight: 400;
    
}
.container1{
    margin-top: 5vw;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 80vw;
    flex-wrap: wrap;
}
.content-1{
    line-height: 1.8vw;
    text-align: center;
    color: rgb(6, 16, 77);
    font-size: 2vw;
    font-weight: 700;
    width: 40vw;
}
.image1 img{
    width: 40vw;
}
@media( max-width: 950px) {
    .container1{
        flex-direction: column;
    }
    .image1 img{
        width: 40vw;
    }
    .content-1{
        width: 80vw;
    }
}
/* .container2{
    margin-top: 60px;
    display: flex;
    margin-bottom: 30px;
}
.content-2{
    line-height: 1.8rem;
    text-align: center;
    color: rgb(6, 16, 77);
    font-size: 1.1rem;
    font-weight: 700;
}
.image2{
    width: 750px;
}
.container3{
    margin-top: 100px;
    display: flex;
}
.content-3{
    line-height: 1.8rem;
    text-align: center;
    color: rgb(6, 16, 77);
    font-size: 1.1rem;
    font-weight: 700;
}
.image3{
    width: 700px
main
}
.foot-links li a:hover{
    color: white;
  }

} */

