@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Spinnaker&display=swap');


*{
    font-family: "Spinnaker", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
    /* background-color: blueviolet; */
}
a{
    text-decoration: none;
    color: black;
}
.head p{
    text-align: center;
    margin: 60px 0px;
    font-size: 1.2rem;
    padding: 0px 180px;
}
.container{
    padding: 0px 50px;
}
.card1{
    border: 1px solid black;
    width: 450px;
    height: 540px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.image1 img{
    width: 380px;
    padding: 20px 35px;
    background-color: #008080;
}
.details1 p {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 5px 10px;
    color: rgb(6, 18, 107);

}
.details1 i{
    font-weight: 400;
}
.details1 span{
    border: 1px solid ;
    background-color: #046464;
    color: white;
    padding: 20px 40px;
    border-radius:6px;
    margin: 0px 40px;
}
.details1 span a{
    color: white;
}
.made{
    margin-bottom: 50px;
}